body {
  margin: 0 auto;
  max-width: 960px;
}

#root {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.circle {
  margin: 1.5rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
