/**
* STYLES
*/
* {
  box-sizing: border-box;
}

#root {
  max-width: 400px;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  line-height: 1.5;
  border-radius: 1rem;
  box-shadow: 3px 3px 8px black;
  background-color: aquamarine;
}
.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-list__selected {
  display: flex;
  flex-direction: row;
  color: red;
}
