ul.suggestionsUl {
    position: absolute;
    top: 35px;
    font-family: Roboto-Light;
    font-size: 1em;
    padding: 0;
    border: 1px solid #CCCCCC;
    background-color: white;
    border-radius: 5px;
    width: 80%;
    z-index: 3;
  }

li.suggestionsLi {
    list-style-type: none;
    font-size: 1em;
    padding: 9px;
}

li.suggestionsLi:hover {
    font-family: Roboto-Medium;
    background-color: #CCCCCC;
}

.hide {
    display: none;
}