.organisationCard > * > * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.organisationCard {
  margin-bottom: 3px;
  width: 950px;
  min-height: 150px;
  display: flex;
  font-size: 18px;
  color: #787878;
  background-color: #ffffff;
}

.organisationCard__left {
  padding: 10px;
  flex: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organisationCard__center {
  flex: 550px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}
.organisationCard__right {
  flex: 250px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.organisationCard__text {
  width: 100%;
}

.btn {
  padding: 3px 5px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background-color: #4a2b3a;
}

.organisationCard__image {
  max-width: 100%;
}
